server {
    listen {{ nginx_port }};
    server_name {{ nginx_host }};

    root {{ nginx_root_dir }};
    index index.php index.html index.htm;

    location / {
        try_files $uri $uri/ =404;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/var/run/php/php8.1-fpm.sock;
    }

    location ~* \.(js|css|png|jpg|jpeg|gif|ico|svg)$ {
        try_files $uri /index.php;
    }
}



#server {
#        listen 8080;
#        root /var/www/html;
#        index index.php index.html index.htm index.nginx-debian.html;
#        server_name localhost;
#        location / {
#                try_files $uri $uri/ =404;
#        }
#        location ~ .php$ {
#                include snippets/fastcgi-php.conf;
#                fastcgi_pass unix:/var/run/php/php8.1-fpm.sock;
#        }
#        location ~ /.ht {
#                deny all;
#        }
#}