upstream balancer {
        least_conn;
        server 158.160.34.108:80 weight=2 max_fails=2 fail_timeout=10s;
        server 84.201.156.181:80 weight=1 max_fails=2 fail_timeout=10s;
    }

    server {
        listen 3000;

        location / {
            proxy_pass http://balancer;
        }
    }
